@import "tailwindcss";

/* css */
:root {
  --color-primary-50: #eef4ff;
  --color-primary-100: #dce8ff;
  --color-primary-200: #bdd2ff;
  --color-primary-300: #97b4f6;
  --color-primary-400: #6e95ec;
  --color-primary-500: #4d7fdc;
  --color-primary-600: #436fc1;
  --color-primary-700: #365a9e;
  --color-primary-800: #2a467a;
  --color-primary-900: #1d3157;
  --color-primary-hover: #436fc1;

  --color-secondary: #475569;
  --color-secondary-50: #f8fafc;
  --color-secondary-100: #f1f5f9;
  --color-secondary-200: #e2e8f0;
  --color-secondary-300: #cbd5e1;
  --color-secondary-400: #94a3b8;
  --color-secondary-500: #64748b;
  --color-secondary-600: #475569;
  --color-secondary-700: #334155;
  --color-secondary-800: #1e293b;
  --color-secondary-900: #0f172a;
  --color-secondary-hover: #cbd5e1;

  /* Feedback */
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;

  --color-background: #e9f0fa;
  --color-surface: #ffffff;
  --color-surface-input: #f5f6fa;

  /* Texto */
  --color-text: #0f172a;
  --color-text-muted: #64748b;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;

  --font-size-base: 15px;
  --font-size-lg: 18px;
  --font-size-sm: 14px;

  --shadow-primary: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* tailwind */
@theme {
  --color-primary: #4d7fdc;
  --color-primary-50: #eef4ff;
  --color-primary-100: #dce8ff;
  --color-primary-200: #bdd2ff;
  --color-primary-300: #97b4f6;
  --color-primary-400: #6e95ec;
  --color-primary-500: #4d7fdc;
  --color-primary-600: #436fc1;
  --color-primary-700: #365a9e;
  --color-primary-800: #2a467a;
  --color-primary-900: #1d3157;

  --color-secondary: #475569;
  --color-secondary-50: #f8fafc;
  --color-secondary-100: #f1f5f9;
  --color-secondary-200: #e2e8f0;
  --color-secondary-300: #cbd5e1;
  --color-secondary-400: #94a3b8;
  --color-secondary-500: #64748b;
  --color-secondary-600: #475569;
  --color-secondary-700: #334155;
  --color-secondary-800: #1e293b;
  --color-secondary-900: #0f172a;
  --color-secondary-hover: #cbd5e1;

  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;

  --color-background: #e9f0fa;
  --color-surface: #ffffff;
  --color-surface-input: #f5f6fa;

  --color-text: #0f172a;
  --color-text-muted: #64748b;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;

  --shadow-primary: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
