@import "tailwindcss";

:root {
  margin: 0;
  background: var(--color-background);
  font: 18px/145% var(--sans);
  font-size: var(--font-size-base);
  letter-spacing: 0.18px;
  color: var(--color-text);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper-container {
  background-color: var(--color-surface);
  box-shadow: var(--shadow-primary);
  padding: 20px;
  width: 100%;
}
