@import "tailwindcss";

:root {
  margin: 0;
  background: var(--color-background);
  font: 18px/145% var(--sans);
  font-size: var(--font-size-base);
  letter-spacing: 0.18px;
  color: var(--color-text);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper-container {
  background-color: var(--color-surface);
  box-shadow: var(--shadow-primary);
  padding: 20px;
  width: 100%;
}

.input-wrapper {
  padding: 0.75rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 1.5rem;
  background-color: var(--color-surface-input);
}

.input-wrapper:focus-within {
  outline: 2px solid var(--color-primary);
  outline-offset: 0px;
}
