@import "tailwindcss";

:root {
  margin: 0;
  background: var(--color-background);
  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color: var(--color-text);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
